@charset "UTF-8";
body{
	text-align: center;
	background-color: rgba(50,50,255,0.2);
}
input{
	padding: 0.5em;
	outline: none;
	margin: 5px;
	border-radius: 30px;
	border: 2px solid  #28d4d8;
}
input:first-child{
	margin-top: 80px;
}
a{
	text-decoration: none;
	color: white;
	background-color: #28d4d8;
	padding: 0.3em;
	margin-top: 10px;
	display: inline-block;
	border-radius: 5px;
}
a:hover{
	background-color: #18c4c8;
}