@charset "UTF-8";
body{
	text-align: center;
	background-color: #FFBED5;
}
input{
	padding: 0.5em;
	outline: none;
	margin: 5px;
	border-radius: 5px;
	border: 2px solid #e8e8e8;
}
input:first-child{
	margin-top: 80px;
}
a{
	text-decoration: none;
	color: white;
	background-color: #9F4348;
	padding: 0.3em;
	margin-top: 10px;
	display: inline-block;
	border-radius: 5px;
}
a:hover{
	background-color: #aF5358;
}