@charset "UTF-8";
html,body{
	height: 100%;
}
.container{
	display: flex;
	min-height: 100%;
}
nav{
	background-color: #a9cfc3;
	min-height:100%;
	box-sizing: border-box;
}
nav li a{
	color: white;
	display: inline-block;
	font-size: 1.3rem;
	padding:1em 1.5em;
	display: block;
	text-align: center;
	transition: 0.2s;
}
nav li a:hover{
	background-color: #99BFB3;
	font-weight: 700;
}
nav #single{
	text-align: center;
	font-family: 'CookieRun';
	color: white;
	padding: 0.4em;
}
nav #single a{
	color: white;
	padding: 0.3em;
	display: inline-block;
	margin: 10px;
	background-color: #99BFB3;
	border-radius: 10px;
}
nav #single a:hover{
	background-color: #89aFa3;
}
nav{
	flex: 1;
}
section{
	flex: 9;
	background-color: #e8e8e8;
}
nav div{
	text-align: center;
	padding: 10px;
	color: white;
	font-weight: 700;
}
.active{
	background-color: #99BFB3;
}
input {
	outline-color: #E2C547;
}
.hidden{
	display: none;
}